* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: #000;
    color: #777;
	font-size: 16pt;
    overflow-y: scroll;
}

#title {
    padding: 50px;
    text-align: center;
}

#gameContainer {
	margin: 0px auto;
	width: 400px;
	height: 240px;
	/*background-color: #fff;*/
}

#controls {
    width: 310px;
    color: #ddd;
    margin: 50px auto 0;
}

form {
    display: table;
    width: 100%;
}

.form-group {
    display: table-row;
}

.form-cell {
    padding: 5px 10px;
    display: table-cell;
}

.form-cell:first-child {
    width: 60%;
}

#controls input {
    text-align: center;
}

.form-cell:last-child {
    width: 40%;
}

.left {
    text-align: left;
}

.right {
    text-align: right;
}

#gamersInfo {
    float: left;
    width: 200pt;
    padding-left: 50pt;
}

#gamersInfo form {
    background-color: #eeeeee;
    border-radius: 3pt;
    border: 1pt #222222;
    height: 16pt;
    line-height: 16pt;
}

#gamersInfo input[type=text] {
    background-color: #eeeeee;
    border: none;
    border-radius: 3pt 0 0 3pt;
    height: 100%;
    margin: 0pt;
    padding-left: 4pt;
    vertical-align: middle;
    width: 140pt;
}

#gamersInfo input[type=button] {
    background-color: #eeeeee;
    border: none;
    border-radius: 0 3pt 3pt 0;
    min-width: 50pt;
    text-align: center;
    vertical-align: middle;
}

#gamersInfo input[type=button]:focus,
#gamersInfo input[type=button]:hover {
    color: #898989      ;
}

#listGamers {
    margin-top: 20pt;
}
